.spinner {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-top-color: white;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: spin 0.6s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }