<app-popup-templates></app-popup-templates>
<div class="flex flex-col min-h-screen">
  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>

  <app-footer
    [hidden]="!showFooterAndHeader"
    [backgroundColor]="'#f7fafc'"
    [textColor]="'#000'"
    [fontFamily]="'TitilliumWeb, AdventPro, Poppins, sans-serif'"
    [headingFontSize]="'18px'"
    [linkFontSize]="'16px'"
    [linkColor]="'#003d2e'"
    [layout]="'grid-cols-1 md:grid-cols-2 lg:grid-cols-4'"
    [sections]="footerSections"
    [copyrightColor]="'#003d2e'"
    [copyrightText]="'RIGHTS_RESERVED'"
  ></app-footer>
</div>
